Chapitre 9 - Requêtes SQLAlchemy fines et petites astuces
===

Dans ce chapitre, nous verrons un ensemble de petites modifications de requêtes. Entre autres, nous verrons :

- Comment limiter le nombre de résultats obtenus
- Limiter les résultats à SQL à un résultat
- Ordonner les résultats
- Faire un `AND` ou un `OR`
- Lancer une erreur quand une réponse n'est pas trouvée
- **Zen du Python** : les boucles sur des listes en une ligne
- Comment faire une pagination

Ce chapitre pourra vous servir de documentation à l'avenir. L'important est de comprendre l'ensemble des possibilités.

Pour faire cet ensemble de requête, on utilisera le bloc code suivant :

In [ ]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask("Application")
# On configure la base de données
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://gazetteer_user:password@localhost/gazetteer'
# On initie l'extension
db = SQLAlchemy(app)


# On crée notre modèle
class Place(db.Model):
    place_id = db.Column(db.Integer, unique=True, nullable=False, primary_key=True, autoincrement=True)
    place_nom = db.Column(db.Text)
    place_description = db.Column(db.Text)
    place_longitude = db.Column(db.Float)
    place_latitude = db.Column(db.Float)
    place_type = db.Column(db.String(45))

all_results = Place.query.all()

### Rappel

Pour faire une requête de type `SELECT`, on écrira :

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").all()
print(data)

**Lecture:**

1. On utilise le nom de la classe SQL représentant la table SQL utilisée
2. On y adjoint `.query`
3. Pour effectuer un filter de type `WHERE`, on adjoint `.filter()`
    1. Dans filter, on utilise la propriété représentant le champ (ici `Place.place_type`)
    2. On effectue au choix 
        - une égalité python `== 'quelquechose'`
        - un `LIKE` en adjoignant `.like(REQUETELIKE)`
4. On récupère l'ensemble des résultats via `.all()` en fin de requête

### Comment limiter le nombre de résultats obtenus

On adjoint tout simple `.limit(Nombre Entier)` à la fin de notre requête, avant de récupérer les résultats via `.all()` par exemple.

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").limit(5).all()
print(data)

**Exercice** : Pouvez-vous transcrire cette requête en MySQL ?

### Comment obtenir seulement le premier résultats

On adjoint tout simple `.first()` à la fin de notre requête au lieu de `.all()`

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").first()
print(data)

**Attention:** en récupérant les résultats via `.first()`, on ne récupère qu'un seul objet qui **n'est pas dans une liste !**

### Ordonner les résultats

#### Simple

On adjoint tout simple `.order_by()` à la fin de notre requête (le défaut est ordre alphabétique croissant) :

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").order_by(Place.place_nom).all()
for lieu in data:
    print(lieu.place_nom)

#### Complexe

On peut adjoindre derrière le nom de champ (ici `Place.place_nom`) `.desc()` ou `.asc()` afin de faire l'ordre croissant ou décroissant.

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").order_by(Place.place_nom.desc()).all()
for lieu in data:
    print(lieu.place_nom)

#### Multiple

Au cas où deux lieux aient le même nom, on pourrait départager en ajoutant un second filtre (comme la description) en le mettant en deuxième argument de `order_by`:

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").order_by(Place.place_nom.desc(), Place.place_nom.desc()).all()
for lieu in data:
    print(lieu.place_nom)

### Faire un AND ou un OR

Dans le `.filter()`, on joint les conditions via `db.or_()` ou `db.and_()`. Les conditions sont collées via des `,` comme des arguments de ces deux méthodes :

In [ ]:
# Ces chiffres sont les longitudes et latitudes qui entourent la Grèce

minLat, minLong, maxLat, maxLong = 19.646484375, 34.9344726563, 28.2318359375, 41.7437988281

data = Place.query.filter(db.and_(
    Place.place_longitude.between(minLong, maxLong),
    Place.place_latitude.between(minLat, maxLat),
)).order_by(Place.place_nom.desc(), Place.place_nom.desc()).all()

for lieu in data:
    print(lieu.place_nom)

In [ ]:
# Ces chiffres sont les longitudes et latitudes qui entourent la France métropolitaine

minLat2, minLong2, maxLat2, maxLong2 = -4.7625, 42.3404785156, 8.14033203125, 51.0971191406

data = Place.query.filter(db.or_(
    db.and_(
        Place.place_longitude.between(minLong, maxLong),
        Place.place_latitude.between(minLat, maxLat)
    ),
    db.and_(
        Place.place_longitude.between(minLong2, maxLong2),
        Place.place_latitude.between(minLat2, maxLat2)
    )
)).order_by(Place.place_nom.desc(), Place.place_nom.desc()).all()

for lieu in data:
    print(lieu.place_nom, lieu.place_description)

###  Lancer une erreur quand une réponse n'est pas trouvée

Dans Flask, vous pouvez utiliser `get_or_404(Clef Primaire)`. C'est l'équivalent d'un `.get()` mais qui lancera une erreur 404 si l'objet n'est pas trouvé.

In [ ]:
objet = Place.query.get_or_404(78)

### **Zen du Python** : les boucles sur des listes en une ligne

Pour l'instant, quand nous devions transformer une liste en une autre liste, nous faisons quelque chose comme ce qui suit :

In [ ]:
data = Place.query.filter(Place.place_type=="settlement").order_by(Place.place_nom).all()
noms_lieux = []
for lieu in data:
    noms_lieux.append(lieu.place_nom)
print(noms_lieux)

Une autre méthode existe ! Et beaucoup plus rapide à écrire. Essayez de la décomposer :

In [ ]:
noms_lieux_2 = [lieu.place_nom for lieu in data]
print(noms_lieux_2)

#### Bonus !

On peut même ajouter des `if` (et seulement des ifs !):

In [ ]:
lieux_avec_un_a = [lieu.place_nom for lieu in data if "a" in lieu.place_nom]
print(lieux_avec_un_a)

### Comment faire une pagination

L'exercice le plus commun dans une page web est de faire une pagination. Une pagination respecte généralement les conditions suivantes :
- on a un nombre maximal de résultats par page (20, 30, 50, 100, etc.)
- une page

Les pages n'existant pas en requête SQL, on fait généralement une `LIMIT` qui permet de limiter le nombre de résultat par page et on convertit le numéro de la page en numéro du premier résultat à afficher via `LIMIT début, max` ou plutôt `LIMIT max OFFSET début` où 
- max est le nombre de résultat par page
- début représente le numéro du premier résultat.

Ainsi, on écrira pour les pages 1 et 2, avec 20 résultats :

1. `LIMIT 0, 30` ou `LIMIT 30 OFFSET 0` pour la page 1
2. `LIMIT 30, 30` ou `LIMIT 30 OFFSET 30` pour la page 2

Mais cela reste très souvent énervant à écrire car il reste des questions à répondre pour l'interface elle-même:
- Quand pouvez-vous afficher "Page précédente" et "Page suivante" ? Avez-vous assez de résultats après ?
- Quel est le nombre maximum de pages ?
- etc.

Heureusement, SQL alchemy a une petite option bien sympathique qui vient remplacer `.all()` : `.paginate()` !

#### La fonction paginate


#### Utilisation de paginate dans un template

#### Exemple 15